
AnchorPane{
    -fx-background-color :  #353535;	
	 -fx-background-radius:  9em 2em 2em 9em;
	 -fx-border-color: #ccf6f3;
	 -fx-border-radius: 9em 2em 2em 9em;
}
AnchorPane:hover{
    -fx-background-color: linear-gradient(to right, rgb(18 ,66 ,15), rgb(33 ,49 ,47));	
}
Pane{
	-fx-background-color :  #4e4e4e;
	-fx-background-radius:  2em;
	-fx-border-radius: 2em;
	-fx-border-color: #ccf6f3;
}
#photoPane{
	-fx-fill: #43719d;
	-fx-border-color: #ccf6f3;
	-fx-background-radius :  5em;
	-fx-border-radius: 5em;
}


#MatriculeDescription{
	-fx-text-fill : #00FF7F;
	-fx-alignment: CENTER;
	 -fx-background-radius: 22;
	 -fx-font-weight: bold;
	 -fx-border-color: #000000;
	 -fx-border-radius: 20;
}
#MatriculeDescription:hover{
	-fx-border-color: #00FF7F;
	-fx-border-radius: 20;
	-fx-text-fill : #ccf6f3;
	-fx-alignment: CENTER;
	-fx-font-weight: bold;
}
#utulisateurDescription{
	-fx-text-fill : #00FF7F;
	 -fx-font-weight: bold;
	-fx-alignment: CENTER;
}

#DescriptionModifier{
		
 -fx-background-color: transparent;
 -fx-background-radius: 22;
 -fx-text-fill: white;
 -fx-border-radius: 20;
}
#buttonDescription{
 -fx-background-color: transparent;
 -fx-background-radius: 20;
 -fx-text-fill: white;
 -fx-border-color: #5F9EA0;
 -fx-border-radius: 20;
}

#DescriptionModifier:hover,
#buttonDescription:hover{
 -fx-background-color: #778899;
 -fx-background-radius: 22;
 -fx-text-fill: black;
 -fx-border-color: #ccf6f3;
 -fx-border-radius: 20;
 -fx-rotate: 1;
}
#DescriptionModifier:pressed{
 -fx-background-color: #2E8B57;
 -fx-background-radius: 22;
 -fx-border-color: #ccf6f3;
 -fx-border-radius: 20;
 -fx-rotate: -1;
}

#DescriptionModifier:hover > #iconeModifier{
	-fx-fill: white;
}
#iconeSearche:pressed{
 	-fx-fill: white;
}